body {
  box-sizing: border-box;
  background-color: black;
}
h2 {
  font-size: 40px;
  color: orchid;
  font-weight: bolder;
}
.email-creation {
  margin-left: 500px;
  margin-top: 200px;
}
#email-label {
  color: rgb(48, 162, 6);
  font-weight: bolder;
}
#email {
  padding: 8px 8px;
  background-color: white;
  border: none;
}
#message {
  color: red;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 5px;
}
#submit {
  background-color: chartreuse;
  border-radius: 5px;
  margin-top: 50px;
  padding: 10px 10px;
}
